<div class="example-container">
    <mat-toolbar color="primary" class="example-toolbar">
      Infinite Scrolling with Intersection Observer Demo
    </mat-toolbar>
    <mat-sidenav-container class="example-sidenav-container" [style.marginTop.px]="64">
      <mat-sidenav>Sidenav content</mat-sidenav>
      <mat-sidenav-content>
        <div class="container">
          <button mat-flat-button disabled style="width: 100%;">Container with Height Specification</button>
          <infinite-scroll (scrolled)="onScroll()" style="height: 400px; overflow-y: auto; padding: 0 1em; margin: 1em 0;">
              <mat-card *ngFor="let d of data" [ngStyle]="{'background-color': 'lightgray'}">
              {{d.title}} - {{d.id}}
              </mat-card>
          </infinite-scroll>
          <mat-divider style="margin: 2em;"></mat-divider>
          <button mat-flat-button disabled style="width: 100%;">Full Page Scroll</button>
          <infinite-scroll (scrolled)="onScroll()">
              <mat-card *ngFor="let d of data" [ngStyle]="{'background-color': 'lightgreen'}">
              {{d.title}} - {{d.id}}
              </mat-card>
          </infinite-scroll>
        </div>
      </mat-sidenav-content>
    </mat-sidenav-container>
</div>
